:root {
  --bg-clr: #1B273E;
  --main-clr1: #243451;
  --main-clr2: #1A325D;
  --main-clr3: #1A325D; 
  --main-clr4: #11192C;
  --script-clr: #D8DCE5;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--script-clr);
  font-family: "Geologica";
  font-weight: 200;
}
body {
  display: grid;
  gap: 1rem;
  background-color: var(--bg-clr);
  overflow-x: hidden;
}
.message {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 10rem;
} 

/* Header */
header {
  width: 90%;
  position: relative;
  margin: 10px auto;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  place-items: center;
  place-content: center;
  position: relative;
}
header > * {
  width: 100%;
  border: 2px solid black;
}
.btn.search{
  padding: 0 10px;
  width: 80%;
  display: none;
} 
.search-input {
  display: grid;
  place-items: center;
}
.sortoptions {
  width: fit-content;
  display: grid;
}
#search {
  width: 100%;
}
#search, #sort, .btn {
  box-sizing: border-box;
  background-color: var(--main-clr4);
  border: none;
  height: 40px;
}
.sortedby {
  position: absolute;
  border: none;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 12rem;
}


/* Countries */
main {
  width: 80vw;
  position: relative;
  left: 10vw;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.country {
  width: 100%;
  padding: 10px;
  background-color: var(--main-clr4);
}
.country img {
  width: 100px;
}
.info > * {
  margin-bottom: 5px;
}

/* Footer */
footer {
  width: 100%;
  height: 5rem;
}

@media screen and (min-width: 425px) {
  header {
    grid-template-columns: 1.5fr 0.5fr;
  }
  .sortedby {
    margin-top: 10rem;
  }

  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {

  .sortoptions {
    width: 90%;
  }

  main {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media screen and (min-width: 1400px) {

  main {
    grid-template-columns: repeat(4, 1fr); 
  }
}
